.component {
  width: 210px;
  height: 330px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  /*margin-right: 20px;*/

  background: #ffffff;
  border-radius: 20px;
}

.component:not(:last-child) {
  margin-right: 20px;
}

.name {
  margin-top: 40px;

  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 35px;
  text-align: center;
  text-transform: uppercase;

  color: #060e4f;
}
